<%- include ./template/header.ejs %>

<div id="page-wrapper">
    <div class="col-lg-6">
        <form action="/login" method="post" class="form-group">
            <input placeholder="username" type="username" class="form-control">
            <input placeholder="password" type="passwrod" class="form-control">
            <input type="submit" class="btn btn-primary" value="login">
        </form>
    </div>
</div>

  
<%- include ./template/footer.ejs %>